<div class="kw-warfare-unit-trait">
	<div class="kw-warfare-config-item" data-item-id="{{_id}}">
			<a class="kw-warfare-config-edit-item"><i class="fas fa-cog"></i></a>
			<a class="kw-warfare-config-rm-item"><i class="fas fa-trash"></i></a>
	</div>
	<strong class="kw-warfare-trait-name">• {{name}}</strong>
	<span class="kw-warfare-trait-description" style="display: none;">{{{data.description.enriched}}}</span>
</div>
