<div class="kw-warfare-unit-trait" data-item-id="{{_id}}">
	<div class="kw-warfare-config-item">
			<a class="kw-warfare-config-edit-item"><i class="fas fa-cog"></i></a>
			<a class="kw-warfare-config-rm-item"><i class="fas fa-trash"></i></a>
	</div>
	<strong class="kw-warfare-trait-name">• {{name}}</strong>
	<span class="kw-warfare-trait-description {{#if flags.kw_warfare.kw_trait_expanded}}kw-trait-expanded{{/if}}">{{{data.description.enriched}}}</span>
</div>
