<form class="{{#if kw_warfare.sheet.config}}kw-warfare-config{{/if}}" autocomplete="off">
		<div class="kw-sheet-container">
				<div class="kw-typeicon" title="{{kw_warfare.details.type}}">
						<img alt="{{kw_warfare.details.type}}" src="{{kw_warfare.kw_type_icon}}"/>
				</div>
				<div class="kw-ancestryicon" title="{{kw_warfare.details.ancestry}}">
						<img alt="{{kw_warfare.details.ancestry}}" src="{{kw_warfare.kw_ancestry_icon}}"/>
				</div>
				<div class="kw-unit-name">
						<label class="kw-warfare-unit-name">
								<span>{{actor.name}}</span>
								<input type="text" data-dtype="String" name="name"
											 value="{{actor.name}}" placeholder="{{localize 'KW_WARFARE.UnitName'}}">
						</label>
						{{#if editable}}<a class="kw-warfare-unit-config"><i class="fas fa-cog"></i></a>{{/if}}
				</div>
				<div class="kw-details">
						<div class="kw-commander">
								<span class="kw-commander-prefix">{{localize 'KW_WARFARE.Commander'}}:&nbsp;</span>
								<label>
										<!--FIXME: Long commander names overflow, need to ellipsize -->
										<span class="kw-commander-display">{{kw_warfare.details.commander}}</span>
										<input type="text" class="kw-warfare-unit-commander" data-dtype="String"
													 placeholder="&mdash;"
													 name="flags.kw-warfare.details.commander" value="{{kw_warfare.details.commander}}">
								</label>
						</div>
						<div class="kw-aeqt">
								{{#if (kw-or kw_warfare.details.ancestry kw_warfare.sheet.config)}}
								<label>
										<span>{{kw_warfare.details.ancestry}},</span>
										<input type="text" class="kw-warfare-unit-keyword" data-dtype="String"
													 name="flags.kw-warfare.details.ancestry" value="{{kw_warfare.details.ancestry}}"
													 placeholder="{{localize 'KW_WARFARE.Ancestry'}}">
								</label>
								{{/if}}
								<label>
										<span>{{kw_warfare.details.experience}},</span>
										<input type="text" class="kw-warfare-unit-keyword" data-dtype="String"
													 name="flags.kw-warfare.details.experience"
													 value="{{kw_warfare.details.experience}}"
													 placeholder="{{localize 'KW_WARFARE.Experience'}}">
								</label>
								{{#if (kw-or kw_warfare.details.equipment kw_warfare.sheet.config)}}
								<label>
										<span>{{kw_warfare.details.equipment}},</span>
										<input type="text" class="kw-warfare-unit-keyword" data-dtype="String"
													 name="flags.kw-warfare.details.equipment"
													 value="{{kw_warfare.details.equipment}}"
													 placeholder="{{localize 'DND5E.ItemTypeEquipment'}}">
								</label>
								{{/if}}
								<label>
										<span>{{kw_warfare.details.type}}</span>
										<input type="text" class="kw-warfare-unit-keyword" data-dtype="String"
													 name="flags.kw-warfare.details.type" value="{{kw_warfare.details.type}}"
													 placeholder="{{localize 'DND5E.Type'}}">
								</label>
						</div>
						{{#if kw_warfare.kw_casualties}}
						<div class="kw-warfare-unit-casualties {{#if kw_warfare.diminished}}kw-warfare-unit-diminished{{/if}}">
								<div title="{{localize 'KW_WARFARE.Casualties'}}" class="kw-warfare-unit-casualties-pips">
										{{{kw_warfare.kw_casualties}}}
								</div>
						</div>
						{{/if}}
				</div>
				<div class="kw-stats">
						<div class="kw-warfare-stat-short-label">{{localize 'KW_WARFARE.AttackShort'}}</div>
						<div class="kw-warfare-stat-short-label">{{localize 'KW_WARFARE.DefenseShort'}}</div>
						<div class="kw-warfare-stat-short-label">{{localize 'KW_WARFARE.PowerShort'}}</div>
						<div class="kw-warfare-stat-short-label">{{localize 'KW_WARFARE.ToughnessShort'}}</div>
						<div class="kw-warfare-stat-short-label">{{localize 'KW_WARFARE.MoraleShort'}}</div>
						<div class="kw-warfare-stat-short-label">{{localize 'KW_WARFARE.CommandShort'}}</div>
						{{> "modules/kw-warfare/templates/stat.hbs"
								stat='attack' rollable = true
								statValue = kw_warfare.stats.attack
								bonus = kw_warfare.bonus.attack
								advantage = kw_warfare.advantage.attack
								disadvantage = kw_warfare.disadvantage.attack
						}}
						{{> "modules/kw-warfare/templates/stat.hbs"
								stat='defense' rollable = false
								statValue = kw_warfare.stats.defense
								bonus = kw_warfare.bonus.defense
						}}
						{{> "modules/kw-warfare/templates/stat.hbs"
								stat='power' rollable = true
								statValue = kw_warfare.stats.power
								bonus = kw_warfare.bonus.power
								advantage = kw_warfare.advantage.power
								disadvantage = kw_warfare.disadvantage.power
						}}
						{{> "modules/kw-warfare/templates/stat.hbs"
								stat='toughness' rollable = false
								statValue = kw_warfare.stats.toughness
								bonus = kw_warfare.bonus.toughness
						}}
						{{> "modules/kw-warfare/templates/stat.hbs"
								stat='morale' rollable = true
								statValue = kw_warfare.stats.morale
								bonus = kw_warfare.bonus.morale
								advantage = kw_warfare.advantage.morale
								disadvantage = kw_warfare.disadvantage.morale
						}}
						{{> "modules/kw-warfare/templates/stat.hbs"
								stat='command' rollable = true
								statValue = kw_warfare.stats.command
								bonus = kw_warfare.bonus.command
								advantage = kw_warfare.advantage.command
								disadvantage = kw_warfare.disadvantage.command
						}}
				</div>
				<div class="kw-size">
						<div class="kw-size-circle">
								<label>
										<span>{{data.attributes.hp.max}}</span>
										<input type="number" data-dtype="Number" name="data.attributes.hp.max"
													 value="{{data.attributes.hp.max}}">
								</label>
						</div>
						<div class="kw-size-label">
								{{localize 'KW_WARFARE.Size'}}
						</div>
				</div>
				<div class="kw-tier">
						<div class="kw-tier-circle">
								<label>
										<span>{{kw_warfare.stats.tier}}</span>
										<input type="text" class="kw-warfare-unit-stat" data-dtype="Number" placeholder="&mdash;"
													 name="flags.kw-warfare.stats.tier" value="{{kw_warfare.stats.tier}}">
								</label>
						</div>
						<div class="kw-tier-label">
								{{localize 'KW_WARFARE.Tier'}}
						</div>
				</div>
				<div class="kw-damage">
						<div class="kw-damage-hex">
								<label>
										<span>{{kw_warfare.stats.damage}}</span>
										<input type="text" class="kw-warfare-unit-stat" data-dtype="Number" placeholder="&mdash;"
													 name="flags.kw-warfare.stats.damage" value="{{kw_warfare.stats.damage}}">
								</label>
						</div>
						<div class="kw-damage-label">
								{{localize 'KW_WARFARE.Damage'}}
						</div>
				</div>
				<div class="kw-numattacks">
						<div class="kw-numattacks-triangle">
						<label>
								<span>{{kw_warfare.stats.numberOfAttacks}}</span>
								<input type="text" class="kw-warfare-unit-stat" data-dtype="Number" placeholder="&mdash;"
											 name="flags.kw-warfare.stats.numberOfAttacks"
											 value="{{kw_warfare.stats.numberOfAttacks}}">
						</label>
						</div>
						<div class="kw-numattacks-label">
								{{localize 'KW_WARFARE.NumberOfAttacks'}}
						</div>
				</div>
				<div class="kw-traits">
						{{#if kw_traits.length}}
						<section>
								<div class="kw-warfare-unit-traits-label">
										<span class="kw-traits-prefix">{{localize 'KW_WARFARE.Traits'}}</span>
										<span class="kw-warfare-config-add-items">
												<a class="kw-warfare-config-add-item">
														<span>{{localize 'KW_WARFARE.AddTrait'}}</span>
														<i class="fas fa-cog"></i>
												</a>
										</span>
								</div>
								{{#each kw_traits}}
								{{> "modules/kw-warfare/templates/trait.hbs" midiQolEnabled='midiQolEnabled'}}
								{{/each}}
						</section>
						{{/if}}
				</div>
		</div>
</form>
