.kw-warfare.window-app {
	min-width: 475px;
	min-height: 445px;
}

.kw-warfare.window-app .window-content {
	background: #e8e8e8;
	border: 8px solid #902626;
	box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, .4);
}

.kw-warfare.window-app form {
	height: 100%;
}


.kw-warfare form input {
	display: none;
	border: none;
	background: transparent;
	height: inherit;
}

.kw-warfare form.kw-warfare-config input {
	display: inline-block;
}

.kw-warfare-config-item {
	display: none;
}

.kw-warfare-config-add-items {
	display: none;
}

.kw-warfare-config .kw-warfare-config-add-items {
	display: inline-block;
}

.kw-warfare-config .kw-warfare-config-add-items .kw-warfare-config-add-item {
	margin-right: 5px;
}

.kw-warfare-config .kw-warfare-config-item {
	display: inline-block;
}

.kw-warfare form.kw-warfare-config label span {
	display: none;
}

.kw-sheet-container .fa-cog {
	color: gray;
	font-weight: 900;
	font-size: 14px;
}

.kw-warfare-stat-short-label {
	color: midnightblue;
	background-color: beige;
	border: 3px solid darkred;
}

.kw-warfare-stat-advantage {
	color: slateblue;
	position: absolute;
	left: -3px;
	top: -3px;
	font-size: 20px;
}

.kw-warfare-unit-stat-value {
	color: floralwhite;
	background-color: indianred;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	border: 3px solid darkred;
}

.kw-warfare-unit-stat-value label {
	position: relative;
}

.kw-warfare-unit-stat-value .kw-warfare-stat-bonus {
	color: slateblue;
	font-size: 15px;
	vertical-align: middle;
}

.kw-warfare-rollable {
	cursor: pointer;
}

.kw-warfare-unit-traits-label {
	display: flex;
	justify-content: space-between;
}

.kw-sheet-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px 65px 90px 2.7fr 90px;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    "kw-typeicon kw-ancestryicon kw-unit-name kw-unit-name kw-unit-name kw-unit-name kw-unit-name"
    "kw-typeicon kw-details kw-details kw-details kw-details kw-details kw-details"
    "kw-stats kw-stats kw-stats kw-stats kw-stats kw-stats kw-stats"
    "kw-numattacks kw-traits kw-traits kw-traits kw-traits kw-traits kw-size"
    "kw-damage kw-traits kw-traits kw-traits kw-traits kw-traits kw-tier";
	height: 100%;
}

.kw-typeicon {
	grid-area: kw-typeicon;
}

.kw-typeicon img {
	max-height: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.kw-ancestryicon {
	grid-area: kw-ancestryicon;
}

.kw-ancestryicon img {
	width: 32px;
	height: 32px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.kw-size {
	grid-area: kw-size;
	background-color: midnightblue;
	border: 2px solid silver;
	height: 90px;
	width: 90px;
}

.kw-size-circle {
	height: calc(100% - 18px);
	background: beige center;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 68px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: darkred;
}

.kw-size-circle input {
	text-align: center;
}


.kw-size-label {
	height: 20px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: silver;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: antiquewhite;
}

.kw-unit-name {
	grid-area: kw-unit-name;
	display: flex;
	justify-content: space-between;
	margin: 0 3px 0 3px;
	font-weight: bold;
	color: darkred;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-size: 22px;
}

.kw-warfare-unit-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.kw-details {
	grid-area: kw-details;
	margin: 0 3px 0 2px;
	color: darkred;
	font-size: 17px;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	border-top: 5px solid silver;
}

.kw-commander {
	display: flex;
}

.kw-commander label {
	width: 100%;
}

.kw-commander-prefix {
	text-transform: uppercase;
}

.kw-traits-prefix {
	text-transform: uppercase;
	color: darkred;
	font-size: 18px;
	font-weight: bold;
}

.kw-aeqt {
	text-transform: uppercase;
	font-size: 15px;
	-webkit-text-stroke-width: 0;
	display: flex;
}

.kw-stats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 40px 40px;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
    ". . . . . ."
    ". . . . . .";
	grid-area: kw-stats;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.kw-tier {
	grid-area: kw-tier;
	background-color: beige;
	border: 3px solid silver;
	height: 88px;
	width: 88px;
}

.kw-tier-circle {
	height: calc(100% - 18px);
	max-height: 64px;
	background: seagreen center;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 68px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: darkred;
}

.kw-tier-circle input {
	text-align: center;
}

.kw-tier-label {
	height: 20px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: silver;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: antiquewhite;
}

.kw-damage {
	grid-area: kw-damage;
	width: 80px;
}

.kw-damage-label {
	height: 20px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: silver;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: antiquewhite;
}

.kw-damage-hex {
	background-image: url("/modules/kw-warfare/dmghex.png");
	background-size: 78px;
	height: 70px;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 68px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: silver;
	font-weight: bold;
	padding-top: 16px;
	padding-right: 4px;
}

.kw-damage-hex input {
	text-align: center;
}

.kw-numattacks {
	grid-area: kw-numattacks;
	width: 80px;
}

.kw-numattacks-triangle {
	background-image: url("/modules/kw-warfare/numattackstriangle.png");
	background-size: 78px;
	height: 70px;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 68px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: darkred;
	font-weight: bold;
	padding-top: 16px;
	padding-right: 4px;
}

.kw-numattacks-triangle input {
	text-align: center;
}

.kw-numattacks-label {
	height: 20px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: silver;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: antiquewhite;
}

.kw-traits {
	grid-area: kw-traits;
	overflow-y: auto;
	margin-left: 2px;
	margin-right: 2px;
}

.kw-warfare-trait-name {
	color: maroon;
	font-size: 16px;
	cursor: pointer;
}

.kw-warfare-unit-casualties {
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
}

.kw-warfare-unit-casualties-pips {
	display: flex;
	align-items: center;
}

.kw-warfare-unit-casualties-pip {
	display: flex;
	align-items: center;
	padding-left: 3px;
	cursor: pointer;
	position: relative;
	margin-left: 5px;
	width: 15px;
	height: 15px;
}

.kw-warfare-unit-casualties-pip:first-child {
	margin-left: 0;
}

.kw-warfare-unit-casualties-pip span {
	width: 10px;
	height: 10px;
	border: 1px solid darkred;
	border-radius: 50%;
}

.kw-warfare-unit-casualties-pip-full span {
	background-color: darkred;
}

.kw-warfare-unit-diminished .kw-warfare-unit-casualties-pip span {
	border: 1px solid darkslateblue;
}

.kw-warfare-unit-diminished .kw-warfare-unit-casualties-pip-full span {
	background-color: darkslateblue;
}

.kw-warfare-unit-casualties-pips:not(.kw-warfare-unit-casualties-diminished) .kw-warfare-unit-casualties-pip-full:before {
	content: '';
	width: 11px;
	height: 11px;
	border: 2px solid darkred;
	border-radius: 50%;
	position: absolute;
	left: 1px;
}

.kw-warfare-unit-diminished .kw-warfare-unit-casualties-pips:not(.kw-warfare-unit-casualties-diminished) .kw-warfare-unit-casualties-pip-full:before {
	border: 2px solid darkslateblue;
}

.kw-warfare-unit-casualties-pips:not(.kw-warfare-unit-casualties-diminished) .kw-warfare-unit-casualties-pip-full span {
	width: 7px;
	height: 7px;
	margin-left: 2px;
}

.kw-warfare-unit-casualties-pip-temp span {
	background-color: yellowgreen;
	border-color: yellowgreen;
}

.kw-warfare-unit-casualties-pips:not(.kw-warfare-unit-casualties-diminished) .kw-warfare-unit-casualties-pip-full.kw-warfare-unit-casualties-pip-temp:before {
	border-color: yellowgreen;
}

.kw-warfare-trait-description {
	display: none;
}

.kw-warfare-trait-description.kw-trait-expanded {
	display: flex;
	justify-content: space-between;
}

.kw-warfare-trait-description p {
	text-indent: 20px;
	margin: 0 5px;
}

.kw-warfare-trait-info-button {
	display:inline-block;
	padding:0.1em 0.2em;
	margin:0 0.1em 0.1em 0;
	border:0.1em solid rgba(255,255,255,0);
	border-radius:1em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	font-size: 10px;
	color:#FFFFFF;
	background-color: darkgray;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
	height: 15px;
}
.kw-warfare-trait-info-button:hover{
	border-color: black;
}

.kw-warfare-trait-info-button.kw-trait-expanded {
	display: block;
}

.kw-warfare-trait-info {
	width: 25px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
